
<div class="mr-section-3">
    <p class="section-heading"><label class="mr-section-3-label">Pick up where you left off</label><label>View all</label></p> 
  <div class="mr-items">
    <div class="item">
     <img src="assets/cart-fish.png"/>
     <div>
<label>Asmak Flavours Lemon and Herbs Sea-bream Fillet</label>
<label></label>
     </div>
     <div class="textBox-amount">
        <label>Mediterranean Watermelon</label>
        <label>PQR Distributors</label>
        <p><label>25 <span>AED</span></label><label>50 AED</label></p>
    </div>
    </div>
    </div>
  </div>
 