
    <div class="mr-section-2">
       <p class="section-heading"><label class="mr-section-2-label">Products on sale today</label><label>View all</label></p> 
     <div class="mr-items">
        <div class="imageBox">
           <img src="assets/watermelon.png"/> 
        </div>
        <div class="textBox">
            <div class="textBox-section-1">
                <label>Mediterranean Watermelon</label>
                <label>PQR Distributors</label>
                <p><label>25 <span>AED</span></label><label>50 AED</label></p>
            </div>
            <div class="textBox-section-2">
                <p><label>offer ends in</label><label>03:15:48</label></p>
                <p><img src="assets/cart.png" /><label>Add to cart</label></p>
            </div>
            <div>

            </div>
        </div>
        <div class="icons-section">
         <img src="assets/bg-chicken.png"/>
         <img src="assets/bg-butter.png"/>
         <img src="assets/bg-milk.png"/>
         <img src="assets/bg-yogut.png"/>
        </div>
       <div class="logo-box">
        <div class="logo-box-content">
            <div>
                <img src="assets/logo.png"/>
                <img src="assets/logo-text.png"/>
            </div>
            <div class="progress-bar-content">
                <div class="progress-bar">
                    <span ></span>
                   </div>
                 
            </div>
            <img class="volume" src="assets/volume.png"/>
        </div>
       </div>
     </div>
    