
.task-need-attention-box{
    width: 540px;
    box-sizing: border-box;
    height: 450px;
    margin-top:25px ;
    background-color: white;
    padding-top: 20px;
    border-radius:5px;
    margin-left: 40px;

}
.task-need-attention-item{
    display: flex;
    justify-content: row;
    border-bottom: 1px solid #B9B9B9;
    margin-left: 30px;
    margin-right: 30px;
    height: 75px;
    padding-bottom: 10px;
  }
    .task-need-attention-box .item-icon-box{
        width: 30px;
        height: 30px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-right: 10px;
       
    
}.task-need-attention-box .item-icon-box .item-image{
    width: 30px;
    height: 30px;
}
.task-need-attention-box .item-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Urbanist', sans-serif;
   margin-top: 20px;
}
.task-need-attention-box .item-details-duration{
    font-style: italic;
    line-height: 16px;
    color: #949494;
    margin-top: 10px;
    
}
