
<div class="mr-section1">
    <label class="mr-section-label">Shop by category</label>
 <div class="mr-items">
    <div class="mr-section-item">
          <img src="assets/Fruits.png"/>
          <label>Fruits & Vegitables</label>
    </div>
    <div class="mr-section-item">
        <img src="assets/Grains.png"/>
        <label>Grains & Cereals</label>
  </div>
  <div class="mr-section-item">
    <img src="assets/Cutlery.png"/>
    <label>Cutlery & Utensils</label>
</div>
<div class="mr-section-item">
    <img src="assets/Milk.png"/>
    <label>Dairy</label>
</div>
<div class="mr-section-item">
  <img src="assets/Fish.png"/>
  <label>Sea Foods</label>
</div>
<div class="mr-section-item">
<img src="assets/Breads.png"/>
<label>Breads</label>
</div>
   
 </div>

